<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>UserAuthenticationFilter</display-name>
    <filter-name>UserAuthenticationFilter</filter-name>
    <filter-class>com.boris.filters.UserAuthenticationFilter</filter-class>
  </filter>
  <filter>
    <display-name>CachingFilter</display-name>
    <filter-name>CachingFilter</filter-name>
    <filter-class>com.boris.filters.CachingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserAuthenticationFilter</filter-name>
    <url-pattern>/profilePage</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserAuthenticationFilter</filter-name>
    <url-pattern>/editProfile</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserAuthenticationFilter</filter-name>
    <url-pattern>/deleteProfile</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserAuthenticationFilter</filter-name>
    <url-pattern>/myContacts</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserAuthenticationFilter</filter-name>
    <url-pattern>/addContact</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CachingFilter</filter-name>
    <url-pattern>/login</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CachingFilter</filter-name>
    <url-pattern>/userProfile</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CachingFilter</filter-name>
    <url-pattern>/myContacts</url-pattern>
  </filter-mapping>
  <servlet>
    <display-name>EditProfileController</display-name>
    <servlet-name>EditProfileController</servlet-name>
    <servlet-class>com.boris.controller.EditProfileController</servlet-class>
  </servlet>
  <servlet>
    <display-name>DeleteProfileController</display-name>
    <servlet-name>DeleteProfileController</servlet-name>
    <servlet-class>com.boris.controller.DeleteProfileController</servlet-class>
  </servlet>
  <servlet>
    <display-name>AddContactController</display-name>
    <servlet-name>AddContactController</servlet-name>
    <servlet-class>com.boris.controller.AddContactController</servlet-class>
  </servlet>
  <servlet>
    <display-name>SearchContactsController</display-name>
    <servlet-name>SearchContactsController</servlet-name>
    <servlet-class>com.boris.controller.SearchContactsController</servlet-class>
  </servlet>
  <servlet>
    <display-name>ContactDetailsController</display-name>
    <servlet-name>ContactDetailsController</servlet-name>
    <servlet-class>com.boris.controller.ContactDetailsController</servlet-class>
  </servlet>
  <servlet>
    <display-name>DeleteContactController</display-name>
    <servlet-name>DeleteContactController</servlet-name>
    <servlet-class>com.boris.controller.DeleteContactController</servlet-class>
  </servlet>
  <servlet>
    <display-name>EditContactController</display-name>
    <servlet-name>EditContactController</servlet-name>
    <servlet-class>com.boris.controller.EditContactController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>indexJsp</servlet-name>
    <jsp-file>/view/index.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>loginJsp</servlet-name>
  	<jsp-file>/view/login.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>registrationJsp</servlet-name>
  	<jsp-file>/view/registration.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>profilePageJsp</servlet-name>
  	<jsp-file>/view/profilePage.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>contactsJsp</servlet-name>
  	<jsp-file>/view/contacts.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>contactsJsp</servlet-name>
  	<url-pattern>/contactsPage</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>profilePageJsp</servlet-name>
  	<url-pattern>/profilePage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>registrationJsp</servlet-name>
  	<url-pattern>/registrationPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginJsp</servlet-name>
  	<url-pattern>/loginPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>indexJsp</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditProfileController</servlet-name>
    <url-pattern>/editProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteProfileController</servlet-name>
    <url-pattern>/deleteProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddContactController</servlet-name>
    <url-pattern>/addContact</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchContactsController</servlet-name>
    <url-pattern>/searchContacts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContactDetailsController</servlet-name>
    <url-pattern>/contactDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteContactController</servlet-name>
    <url-pattern>/deleteContact</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditContactController</servlet-name>
    <url-pattern>/editContact</url-pattern>
  </servlet-mapping>
</web-app>